body, html {
	margin: 0;
	background-color: #232323;
	height: 100%;
	width: 100%;
	padding: 15px;
	background-image: url(../images/bgtexture.png);
}

#content-area {
	background-color: #567dd1;
	border: 3px solid #EFEFEF;
	padding: 20px;
	color: rgb(26, 22, 46);
	max-width: 500px;
	min-width: 200px;
	text-align: center;
	margin: 0 auto;
}

#title-area {
	border: 0px;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	color: #d4c671;
}

#subtitle {
	color: #BABABA;
}

#totalValueLabel {
	color: #EFEFEF;
	font-weight: bold;
}

label {
	/*color: rgb(26, 22, 46);*/
	color: rgb(27, 17, 75);
}

#ratingSelect {
	color: #ebc700;
}

#calcButton {
	border: 1px solid rgb(212, 212, 212);
	padding: 10px;
	color: #EFEFEF;
}

#totalValue {
	font-weight: bold;
	color: #EFEFEF;
	color: #ebc700;
}